@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800,900|Roboto:400,500,700,900&amp;display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

button {
    border: none;
}

input,
textarea {
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
}

select {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

textarea {
    min-height: 150px;
    resize: none;
}

span {
    display: inline-block;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 40px;
}

@media (max-width: 991px) {
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    color: #14181c;
    font-weight: 700;
    margin: 0;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    font-family: "Raleway", sans-serif;
    color: #14181c;
    font-weight: 700;
}

h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover {
    color: #da1c36;
}

p,
li,
span {
    font-size: 16px;
    color: #777777;
    line-height: 1.7;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

/* ===================Header CSS Start============================ */

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-section .header-top {
    background-color: transparent;
    padding: 20px;
}

@media (max-width: 991px) {
    .header-section .header-top {
        display: none;
    }
}

.header-section .header-top .social-links li {
    display: inline-block;
}

.header-section .header-top .social-links li a {
    width: 38px;
    height: 38px;
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header-section .header-top .social-links li a:hover {
    background-color: #da1c36;
    color: #ffffff;
    border-color: #da1c36;
}

.header-section .header-top .social-links li+li {
    margin-left: 10px;
}

.header-section .header-bottom {
    background-color: transparent;
}

.header-section .header-bottom .site-logo {
    background-color: #ffffff;
    padding: 18px 50px 15px 50px;
}

@media (max-width: 991px) {
    .header-section .header-bottom .site-logo {
        padding: 6px 50px;
    }
}

@media (max-width: 991px) {
    .header-section .header-bottom .site-logo img {
        height: 45px;
    }
}

.header-section .header-bottom .navbar-collapse {
    background-color: #da1c36;
}

@media (max-width: 767px) {
    .header-section .header-bottom .navbar-collapse {
        max-height: 320px;
        overflow: auto;
    }
}

@media (max-width: 991px) {
    .header-section .header-bottom .navbar-collapse .main-menu {
        padding: 15px 0;
    }
}

.header-section .header-bottom .navbar-collapse .main-menu li {
    position: relative;
}

.header-section .header-bottom .navbar-collapse .main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-section .header-bottom .navbar-collapse .main-menu li.menu_has_children {
    position: relative;
}

.header-section .header-bottom .navbar-collapse .main-menu li.menu_has_children::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f078";
    color: #ffffff;
    font-size: 11px;
    right: 3px;
    top: 36px;
}

@media (max-width: 991px) {
    .header-section .header-bottom .navbar-collapse .main-menu li.menu_has_children::before {
        top: 12px;
        right: 15px;
    }
}

.header-section .header-bottom .navbar-collapse .main-menu li a {
    padding: 32px 25px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .header-section .header-bottom .navbar-collapse .main-menu li a {
        padding: 8px 20px;
        display: block;
    }
}

.header-section .header-bottom .navbar-collapse .main-menu li .sub-menu {
    position: absolute;
    top: 105%;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header-section .header-bottom .navbar-collapse .main-menu li .sub-menu li a {
    color: #363636;
    padding: 8px 20px;
    display: block;
}

.header-section .header-bottom .navbar-collapse .main-menu li .sub-menu li a:hover {
    color: #da1c36;
    background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 991px) {
    .header-section .header-bottom .navbar-collapse .main-menu li .sub-menu {
        position: initial;
        opacity: 1;
        visibility: visible;
        display: none;
        -webkit-transition: none;
        transition: none;
    }
}

@media (max-width: 991px) {
    .header-section .header-bottom .navbar-collapse .main-menu li+li a {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
}

.header-section.menu-fixed .header-top {
    display: none;
}

.header-section.menu-fixed .header-bottom {
    background-color: #da1c36;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.header-section.header-section--style2 {
    top: 30px;
}

.header-section.header-section--style2 .site-logo {
    background-color: transparent;
    padding: 0;
}

.header-section.header-section--style2 .navbar-collapse {
    background-color: transparent;
}

.header-section.header-section--style2 .lag-select-area {
    margin-right: 50px;
}

@media (max-width: 1199px) {
    .header-section.header-section--style2 .lag-select-area {
        margin-right: 23px;
    }
}

@media (max-width: 575px) {
    .header-section.header-section--style2 .lag-select-area a {
        font-size: 14px;
    }
}

.header-section.header-section--style2.menu-fixed {
    top: 0;
}

.header-section.header-section--style2.menu-fixed .header-bottom {
    background-color: #000000;
}

@media (max-width: 1199px) {
    .header-section.header-section--style2 .header-bottom .main-menu li.menu_has_children::before {
        right: 3px;
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .header-section.header-section--style2 .header-bottom .main-menu li.menu_has_children::before {
        right: 10px;
    }
}

@media (max-width: 1199px) {
    .header-section.header-section--style2 .header-bottom .main-menu li a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .header-section.header-section--style2 .navbar-collapse {
        background-color: #000000;
    }
}

.menu-toggle {
    margin: 15px 0;
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-toggle.is-active {
    border-color: transparent;
}

.menu-toggle::before,
.menu-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.menu-toggle.is-active::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.is-active::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-action .lag-select-area {
    display: inline-block;
}

.header-action .lag-select-area .nice-select {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.header-action .lag-select-area .nice-select::before {
    color: #ffffff;
}

.header-action .lag-select-area .nice-select .current {
    color: #ffffff;
}

@media (max-width: 575px) {
    .header-action .cmn-btn {
        font-size: 14px;
        padding: 10px 25px;
    }
}

.header-action .login-reg a {
    color: #ffffff;
    position: relative;
    padding: 0 6px;
}

.header-action .login-reg a:hover {
    color: #da1c36;
}

.header-action .login-reg a:last-child {
    padding-right: 0;
}

.header-action .login-reg a::before {
    position: absolute;
    content: '/';
    top: 0;
    right: -6px;
    color: #ffffff;
}

.header-action .login-reg a:last-child::before {
    display: none;
}

.navbar-toggler {
    padding-right: 0;
}

/* ===================Header CSS End============================ */




/* ===================Banner CSS Start============================ */

.banner-section {
    padding-top: 187px;
    padding-bottom: 151px;
    position: relative;
}

@media (max-width: 991px) {
    .banner-section {
        padding-top: 90px;
    }
}

@media (max-width: 767px) {
    .banner-section {
        padding-top: 165px;
        padding-bottom: 90px;
    }
}

.banner-section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14181c;
    opacity: 0.9;
}

.banner-section .banner-content .title {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 55px;
}

@media (max-width: 991px) {
    .banner-section .banner-content .title {
        font-size: 42px;
    }
}

@media (max-width: 575px) {
    .banner-section .banner-content .title {
        font-size: 36px;
    }
}

.banner-section .banner-content p {
    color: #ffffff;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.banner-section .banner-content .cmn-btn {
    margin-bottom: 30px;
}

.banner-section .banner-img {
    padding-top: 50px;
}

@media (max-width: 767px) {
    .banner-section .banner-img {
        display: none;
    }
}

.banner-section--style2 {
    padding-top: 250px;
}

@media (max-width: 767px) {
    .banner-section--style2 {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

.banner-section--style2 .banner-content {
    padding-left: 30px;
}

@media (max-width: 1450px) {
    .banner-section--style2 .banner-content {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .banner-section--style2 .banner-content {
        margin-top: 50px;
    }
}

.banner-el-img {
    position: absolute;
    bottom: 0;
    right: 120px;
}

@media (max-width: 1450px) {
    .banner-el-img img {
        max-width: 75%;
    }
}

@media (max-width: 1750px) {
    .banner-el-img {
        right: 10px;
    }
}

@media (max-width: 1450px) {
    .banner-el-img {
        text-align: right;
    }
}

@media (max-width: 1199px) {
    .banner-el-img {
        display: none;
    }
}

/* ===================Banner CSS End============================ */